.itemblock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    background-color: grey;
    gap: 30px;
}

button:hover{
    cursor: pointer;
}

input[type="checkbox"]:hover{
    cursor: pointer;
}

.link_more{
    text-decoration: none;
    color: rgb(73, 73, 245);
}
.link_more:hover{
    opacity: 0.7;
}